// Import page-specific CSS files here.
@import "home";
@import "show";
@import "otroser";


.mobile-menu {
  display: none;
}

.hamburger {
  // float:right;
  width: 50px;
  height: 50px;
  display: block;
  border: none;
  padding: 0px;
  margin: 20px;
  background: linear-gradient(
    to bottom,
    black, black 20%,
    white 20%, white 40%,
    black 40%, black 60%,
    white 60%, white 80%,
    black 80%, black 100%
    );
  }

  .menu-items {
    display: none;
  }


@media only screen and (min-width: 601px) {
  .left-box {
    text-align: left;
    width: 15%;
    height: 100vh;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
  }

  .summary {
    flex-grow: 1;
    font-size: 17px;
    margin-left: 50%;

    nav .a:hover {
      background-color: black;
      color:white;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  nav .container ul li.active {
    color: black;
    font-weight: 900;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 600px) {
  .left-box { display: none }

  .right-box {
    width: 100%;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
  }

  .mobile-menu {
    display: block;
  }

  .menu-items {
    display: block;
    text-align: center;
    margin-left: -2rem;
    height: 50vh;
  }
}
