.head-serie {
  position: sticky;
  top: 0;
  background-color: white;
  margin-bottom: 2%;
  margin-top: 0px;

  #otroser-title {
    margin-left: 5%;
    margin-top: 2%;
  }
}

h4 {
  text-align: center;
}

.show-container {
  width: 100%;
}
