
<h1 id="otroser-title"> <%= link_to "Otroser", root_path %></h1>
<div class="home-page">
  <%# <div class="left-box">
    <div class="summary">
    </div>
    <div class="contact-infos desktop">
      <a href="https://www.instagram.com/otroser______/">
        <img id="logo-insta" src="https://cdn141.picsart.com/264066759002212.png" alt="logo Instagram">
      </a>
      <p><b>Otroser</b> <br>Gustavo Salamie <br>  Vale Do Capão <br> <span style="text-decoration: underline;">Contacto:</span> <br> <a href="mailto:gustavo.salamie@gmail.com">gustavo.salamie@gmail.com</a>
    </div>
  </div> %>
  <div class="right-box images-container">
    <a href= <%= series_path %> >
      <img src="https://res.cloudinary.com/dz12yq9sa/image/upload/v1682676147/187_2_k0fwgl.jpg", class="home-image">
    </a>
  </div>
  <div class="contact-infos mobile home-contact-infos">
      <a href="https://www.instagram.com/otroser______/">
        <img id="logo-insta" src="https://cdn141.picsart.com/264066759002212.png" alt="logo Instagram">
      </a>
      <p><b>Otroser</b> <br>Gustavo Salamie <br>  Vale Do Capão <br> <span style="text-decoration: underline;">Contacto:</span> <br> <a href="mailto:gustavo.salamie@gmail.com">gustavo.salamie@gmail.com</a>
  </div>
</div>
