
<div id="about-otroser">
  <div class="about-otroser-text">
    <H1>OTROSER</H1>
    <p>Alguien dijo que exploro  el cuerpo humano a través de la desnudez, la sexualidad y la naturaleza entre escritos de poesía y la búsqueda del movimiento y la transformación personal.
    <p>Nací en Buenos Aires en Octubre de 1980</p>

    <p>Además de ser artista visual y fotógrafo, escribo poemas y otros sentimientos que me permiten expresarme y vincularme con la palabra desde un lugar de sanación, dando lugar así a mis momentos de introspección y de reflexión sobre la vida y la muerte.</p>

    <p>Mi vínculo con la fotografía tiene dos etapas:</p>
    <ul>
      <li><p>Uno en la adolescencia donde documenté momentos con mi pequeño hijo, vacaciones familiares y amigos.</p></li>
      <li><p>Y otro cuando decidí abandonar la facultad e involucrarme con el arte de una manera mas visceral.</p></li>
      </ul>

    <p>A partir de allí entre el año 2007 y 2010 comencé una transformación personal de mi manera de ver y relacionarme con las personas. Más fue en el año 2017 que ciertas vivencias e informaciones transformaron mi visión y mis elecciones artísticas.</p>
    <p>Así es que me siento atraído por los cuerpos y sus posibilidades, nos veo como animales y quiero captar las almas que allí habitan, sin máscaras, sin vestimenta, la esencia pura... esa es una de las razones por lo cual elijo profundizar en el desnudo.</p>

    <p>Por esos años también Co cree una revista llamada 27 en donde misturamos literatura fotografía y dibujo.</p>

    <p>Y desde hace algún tiempo realizo una experiencia sensorial e itinerante por diferentes lugares del mundo a través de un ciclo de cine animado, vivencias sensoriales, música en vivo y comida artesanal que invitan a la reflexión y a cuestionarnos algunos de nuestros hábitos.</p>

    <p>Además de todo esto hay un deseo por inspirar a las personas a través de mis imágenes para que se adentren en su propia transformación personal. </p>
    <p>Así que ve allí y disfruta.</p>
    <p>Gracias por pasar por aquí</p>
  </div>
</div>
