// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

#otroser-title {
  text-align: left;
  color: black;
  text-decoration: none;
  background-color: white;
  margin-left: 7%;
  margin-top: 1%;
  position: sticky;
  top: 0;
}

body {
  background-color: white;
}

.images-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-images {
  width: auto;
  margin: 15px;
  object-fit: cover;
  object-position: center;

  @media only screen and (min-width: 601px) {
    &.horizontal {
      width: 57vw;
    }
  }

  @media only screen and (max-width: 600px) {
    &.horizontal {
      width: 80vw;
    }
  }

    &.vertical {
      height: 80vh;
    }
}

h1 {
  margin: 0.5%;
  text-align: center;
  cursor: default;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  font-weight: 900;
}

ul {
  list-style-type: none;

}

@media only screen and (min-width: 601px) {

  .mobile { display: none !important; }

  .contact-infos {
    margin-left: 25%;
    margin-bottom: 40%;
    p {
      font-size: 1rem;
    }
  }

  #logo-insta {
    width: 3vw;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .desktop { display: none !important; }

  .contact-infos {
    margin: 0px;
    text-align: center;
    p {
      font-size: 0.5rem;
    }
    bottom: 0;
    width: 100%;
  }

  .home-contact-infos {
    position: absolute;
  }

  #logo-insta {
    width: 30px;
    margin-top: 2%;
  }

  .footer { display: none !important; }
}


.forms-container {
  width: 80vw;
  margin: 0 auto;
}

.turbo-progress-bar {
  background: black;
}
